.wrap {
  position: relative;
}

.field {
  width: 100%;
  height: 48px;
  padding: 0 14px;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  font-size: 14px;
  opacity: 0.9;
}

.icon {
  display: inline-flex;
  align-items: center;
  pointer-events: none;
}

.iconSvgClock {
  stroke: var(--color-text-third);
  fill: none;
}

.popup {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  padding: 16px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
  z-index: 30;
}

.title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1.5;
  color: var(--color-text-third);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 6px;

  max-height: 140px;
  overflow: auto;
}

.item {
  width: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #11101c;
}

.item:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.05);
}

.active {
  opacity: 1;
  font-weight: 700;
}
