.logo {
  width: var(--fluid-logo-120-164);
  height: auto;
}

.text {
  font-family: var(--font-family);
  font-weight: var(--fw-medium);

  font-size: clamp(var(--fs-14), 1.66vw, var(--fs-24));
  line-height: 1.25;

  letter-spacing: var(--ls-tight);
  color: var(--color-text-inverse);
}
