.logo {
  width: 164px;
  height: 28px;
}

.text {
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-24);
  line-height: 1.17;
  letter-spacing: var(--ls-tight);
  color: var(--color-text-inverse);
}
