.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background: var(--color-bg-inverse);
  padding: 64px;
  border-radius: var(--radius-30);
  width: 565px;
  height: 489px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.title_modal {
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-40);
  line-height: 1.2;
  letter-spacing: var(--ls-tight);
  color: var(--color-text-third);
}
