.header {
  background: transparent;
  padding: 20px 96px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.inner {
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 1184px;
  display: flex;
  align-items: center;
  gap: 487px;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  position: relative;
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-16);
  letter-spacing: var(--ls-tight);

  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;

  padding: 6px 2px;
  transition: color var(--transition-base);
}

.navLink:hover {
  color: var(--color-text-hover);
}

.authActions {
  display: flex;
  gap: 8px;
}

/* base */
.authBtn {
  padding: 0 26px;
  border-radius: 999px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.15s ease;
}

/* ghost */
.authBtnGhost {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  width: 124px;
  /* height: 48px; */
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--color-text-inverse);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.authBtnGhost:hover {
  background: rgba(0, 0, 0, 0.25);
}

/* primary */
.authBtnPrimary {
  background: var(--color-accent-primary);
  border-radius: 30px;
  padding: 14px 40px;
  width: 168px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-16);
  letter-spacing: -0.01em;
  color: var(--color-text-inverse);
}

.authBtnPrimary:hover {
  background: var(--color-bg-inverse);
  color: var(--color-text-hover);
}

.navContainer {
  display: flex;
  gap: 92px;
}
