.header {
  /* display: flex; */
  background: transparent;
  padding: 20px 96px;

  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.inner {
  align-items: center;
  text-align: center;
  height: 48px;
  width: 1184px;
  display: flex;
  align-items: center;
  gap: 487px;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  position: relative;

  font-family: var(--font-family-base);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-16);
  letter-spacing: var(--ls-tight);

  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;

  padding: 6px 2px;
  transition: color var(--transition-base);
}

.navLink:hover {
  color: #ffffff;
}
