.header {
  /* display: flex; */
  background: transparent;
  height: 48px;
  width: 1184px;
  align-items: center;
  text-align: center;
}

.inner {
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 32px;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  gap: 24px;

  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.navLink {
  position: relative;

  font-family: var(--font-family-base);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-16);
  letter-spacing: var(--ls-tight);

  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;

  padding: 6px 2px;
  transition: color var(--transition-base);
}

.navLink:hover {
  color: #ffffff;
}

/* active состояние (подсветка/подчеркивание) */
.navLinkActive {
  color: #ffffff;
}

.navLinkActive::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -11px; /* чтобы линия попадала на общий baseline */
  height: 2px;
  background: var(--color-accent-red);
  border-radius: 2px;
}
