.title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-40);
  line-height: 1.2;
  letter-spacing: var(--ls-tight);
  color: var(--color-text-third);
  margin-bottom: 20px;
}

.text {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: 1.25;
  color: var(--color-text-fourth);
  margin-bottom: 40px;
}

.nanny {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}
.nannyAvatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #eee;
}

.nannyImg {
  border-radius: 15px;
  width: 44px;
  height: 44px;
}

.nannyLabel {
  font-size: 12px;
  opacity: 0.7;
}
.nannyName {
  font-weight: 600;
}

.form {
  display: grid;
  gap: 12px;
}
.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
}

.submit {
  margin-top: 40px;
  width: 100%;
  padding: 16px auto;
  border: none;
  background: var(--color-accent-primary);
  border-radius: 30px;
  height: 52px;
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: 1.25;
  letter-spacing: var(--ls-ltight);
  color: var(--color-text-inverse);
}
